<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Muh - In memory gists. - Paste as a service">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title><%= yield :title %></title>

    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'http://fezvrasta.github.io/bootstrap-material-design/dist/css/bootstrap-material-design.css' %>
    <%= stylesheet_link_tag 'https://raw.githubusercontent.com/FezVrasta/bootstrap-material-design/master/dist/css/ripples.min.css' %>
    <link href="//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet">
    <%= stylesheet_link_tag 'http://fezvrasta.github.io/bootstrap-material-design/index.css' %>
    <%= stylesheet_link_tag 'http://codemirror.net/lib/codemirror.css' %>
		<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
		<%= javascript_include_tag 'http://codemirror.net/lib/codemirror.js' %>
  </head>
  <body>
		<div class="header-panel shadow-z-2">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-3">
						<a href="/"><h1>Muh - just paste!</h1></a>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid main">
			<div class="row">
				<nav class="col-xs-3 menu">
					<ul>
						<li class="active withripple" style="cursor: default;"><h4>Your gists ...</h4></li>
						<li class="withripple">#1</li>
						<li class="withripple">#2</li>
					</ul>
				</nav>
			</div>
			<div class="pages col-xs-9" style="overflow-x: hidden;">
				<div class="row">
					<div class="col-xs-10" style="padding-top: 86px;">
						<div class="well page active">
							<h1><%= yield :title %></h1>
							<div class="sample"> 
								<%= yield %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<%= javascript_include_tag 'application' %>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
					 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
			<%= javascript_include_tag 'https://fezvrasta.github.io/bootstrap-material-design/dist/js/material.js' %>
			<%= javascript_include_tag 'https://fezvrasta.github.io/bootstrap-material-design/dist/js/ripples.min.js' %>
			<script>
$.material.init();
			</script>
			<%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js' %>
			<%= javascript_include_tag 'https://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.js' %>
	</body>
</html>
